:root {
    --white: #FFFFFF;
    --primary-blue: #90b4dc;
    --alice-blue: #f0f5f6;
    --light-blue: #ecf0f4;
    --dark-blue: #475d73;
    --sea-blue: #c1ddf6;
    --light-gray: #f5f6f6;
    --heavy-blue: #24252a;
    --blue: #445a70;
    --shadow-blue: #719ECE;
    --font-size-lg: 30px;
    --font-size-20: 20px;
    --font-size-md: 15px;
    --font-szie-13: 13px;
    --font-size-sm: 12px;
}

.primary {
    background-color: var(--primary-blue);
}

.dark-blue {
    color: var(--dark-blue);
}

.light-blue {
    color: var(--light-blue);
}

.sea-blue {
    background-color: var(--sea-blue);
}

.blue {
    color: var(--blue);
}

.heavy-blue {
    color: var(--heavy-blue);
}

.alice-blue {
    background-color: var(--alice-blue);
}

@media(max-width: 768px) {
    .font-size-lg {
        font-size: var(--font-size-20);
    }
    .font-size-sm {
        font-size: var(--font-size-sm);
    }
}

@media(min-width: 768px) {
    .font-size-lg {
        font-size: var(--font-size-lg);
    }
}

.font-size-md {
    font-size: var(--font-size-md);
}

.font-size-13 {
    font-size: var(--font-size-13);
}

.border {
    border-color: var(--sea-blue);
    border-style: solid;
}

.border:focus {
    outline: none;
    box-shadow: 0 0 10px var(--shadow-blue);
}

.input-text {
    background-color: var(--light-gray);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submit-btn {
    background-color: var(--sea-blue);
    color: var(--dark-blue);
}

.submit-btn:hover {
    background-color: var(--dark-blue);
    color: var(--sea-blue);
}

.loading {
    display: flex;
    align-items: center;
    z-index: 99;
    top: 0;
    background-color: var(--white);
}

.loading-image {
    z-index: 100;
}