:root {
    --white:#FFFFFF;
    --primary-blue:#8db6df;
    --alice-blue:#f0f5f6;
    --light-blue:#ecf0f4;
    --dark-blue:#475d73;
    --sea-blue:#c1ddf6;
    --light-gray:#f5f6f6;
    --heavey-blue:#24252a;
    --normal-blue:#445a70;
    --shadow-blue:#719ECE;
    --font30:30px;
    --font20:20px;
    --font15:15px;
    --font13:13px;
    --font12:12px;
}

.primary-color {
    background-color:var(--primary-blue);
}

.dark-blue {
    color:var(--dark-blue);
}

.light-blue {
    color:var(--light-blue);
}

.sea-blue {
    background-color: var(--sea-blue);
}

.normal-blue {
    color:var(--normal-blue);
}

.alice-blue {
    background-color: var(--alice-blue);
}

@media(max-width: 768px) {
    .header {
        font-size: var(--font20);
    } 
    .input-label {
        font-size:  var(--font12);
    }
}

@media(min-width: 768px) {
    .header {
        font-size: var(--font30);
     } 
}

.subheader {
    font-size: var(--font15);
}

.information {
    font-size:var(--font13);
}

.border {
    border-color: var(--sea-blue);
    border-style: solid;
}

.border:focus {
    outline: none;
    box-shadow: 0 0 10px var(--shadow-blue);
}

.input-text {
    background-color:var(--light-gray);
    color:var(--heavey-blue);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submit-btn {
    background-color:var(--sea-blue);
    color:var(--dark-blue);
}
.submit-btn:hover {
    background-color:var(--dark-blue) ;
    color:var(--sea-blue);
}

.loading {
    display: flex;
    align-items: center;
    z-index: 99;
    top:0;
    background-color: var(--white);
}

.loading-image {
    z-index:100;
}